/* Define the color palette */
:root {
    --background-color: #191717;
    --text-color: #F1EFEF;
    --accent-color: #CCC8AA;
    --highlight-color: #0a0a0a;
}
.video-container {
    display: flex;
    justify-content: center; /* Center the video horizontally */
    align-items: center; /* Center the video vertically */
    height: 100vh; /* Set the height of the container to the viewport height */
    overflow: hidden;
    position: relative;
}
/* CSS for the video */
#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover the entire viewport */
    z-index: -1; /* Place the video behind other content */
}
/* Reset some default styles for better consistency */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set a background color and font for the entire page */
body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
    max-width: 100vh; /* Adjust the maximum width as desired */
    margin: 0 auto; /* Center the page horizontally */
    padding: 0 20px; 
    overflow-x: hidden;
    
    /* Add some spacing on the sides if desired */
}

/* Style the header */
header {
    margin: 20px;
    background-color: var(--highlight-color);
    color: var(--text-color);
    padding: 100px;
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Center vertically */
    justify-content: center;
    height: 20px;
    border-radius: 20px; /* Add rounded corners */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.section-header {
    margin-left:3%;
    display: flex;
    align-items: center;
    margin-bottom: 0px; /* Align items vertically in the center */
}
 .service-image {
    max-width: 100px; /* Adjust the max width of the image as needed */

}
/* Style the hero section with the accent color for text */
.hero {
    background-color: var(--background-color);
    color: var(--accent-color);
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    width: auto;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.5);
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    flex-direction: column; /* Stack items vertically */
}

.button-container {
    display: flex;
    margin-top: 0px; /* Add margin between buttons and text */
}
/* Increase the z-index for your buttons */
.hero-button {
    background-color: var(--highlight-color);
    text-align: center;
    padding: 6px 14px 0px 9px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    margin-right: 40px;
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); /* Use a cubic-bezier easing function */
    z-index: 2; /* Add this line to set a higher z-index */
}

.hero-button:last-child {
    margin-right: 0; /* Remove margin from the last button */
}

/* Add a hover animation */
.hero-button:hover {
    transform: scale(1.1); /* Adjust the scaling as needed */
}

#video-presentation {
    margin: 40px 0;
}

/* Style for the video container */
.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.video-cool {
    padding-top: 56.25%; /* 16:9 aspect ratio (9 / 16 * 100) */
    position: relative;
    max-width: 100%; /* Ensure the video box doesn't exceed the parent container */
    overflow: hidden; /* Hide any overflow to prevent overlap */
}

.video-presentation-box {
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Ensure the video box takes 100% width of its container */
    height: 100%; /* Ensure the video box takes 100% height of its container */
}

.video-presentation-box iframe {
    width: 100%;
    height: 100%;
    border: none; /* Remove the border around the iframe */
    object-fit: cover; /* Maintain aspect ratio and cover the entire box */
}

/* Adjust the <main> content to avoid overlapping */
main {
    max-width: 1500px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--highlight-color);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 20);
    position: relative;
    z-index: 2; /* Ensure the <main> content is above the video */
}

/* Define the hover animation */
@keyframes grow {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

.custom-list li {
    list-style-type: none; /* Remove default bullet */
    padding-left: 0; /* Remove left padding */

    /* Optional: Add spacing between list items */
    margin-bottom: 10px;
}



.image-container {
    width: 40px; /* Set the width and height for the circular background */
    height: 40px;
    background-color: #191717; /* Background color for the circular background */
    border-radius: 50%; /* Create a circular shape */
    overflow: hidden; /* Hide any content that extends beyond the circle */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a shadow effect */
    padding-left: 10px; /* Add padding to the left to center the content */
    transition: all 0.3s ease;
    margin-bottom: 10px; /* Add margin to create spacing under each item */
    animation: glow 8s infinite alternate;
}
.image-container:hover {
    transform: scale(1.2);
}
.custom-svg {
    width: 60%; /* Adjust the size of the SVG icon as needed */
    height: auto; /* Automatically adjust the height to maintain the aspect ratio */
}

h3 {
    margin-left: 10px; /* Add margin to the left of the <h3> for spacing */
    margin-bottom: 10px
}

.list-item-content {
    display: flex; /* Use flexbox for horizontal alignment */
    align-items: center; /* Vertically align items */
}

.list-item-content img {
    margin-right: 10px; /* Adjust spacing between SVG and <h3> */
}

/* Style <h3> element as needed */
.custom-list li h3 {
    font-weight: bold; /* Example style for <h3> */
}
.custom-svg {
    animation: glow 2s infinite alternate;
}

@keyframes glow {
    0% {
        box-shadow: inset 0 0 3px rgba(136, 8, 255, 0); /* Start with a small, semi-transparent glow inside */
    }
    40% {
        box-shadow: inset 0 0 5px rgba(136, 8, 255, 0.25); /* Create a slightly larger, more visible glow inside */
    }
    70% {
        box-shadow: inset 0 0 6px rgba(136, 8, 255, 0.3); /* Return to the initial state with a solid glow inside */
    }
    100% {
        box-shadow: inset 0 0 3px rgba(136, 8, 255, 0); /* Start with a small, semi-transparent glow inside */
    }
}



/* Optional: Style the text within list items */
li {
    margin: 20px; 
}

section {
    margin-bottom: 30px;
}

h1, h2, h3 {
    color: var(--text-color);
}
a {
    color: var(--accent-color);
    text-decoration: none;
}
.contact-details {
    flex: 1;
}
.social-media-icons {
    display: flex;
    align-items: center;
}

.social-label {
    margin-right: 15px;
}

.social-icon {
    margin-right: 15px; /* Adjust the margin to increase the spacing */
    transition: transform 0.3s ease;
}
.social-icon:hover {
    transform: scale(1.2); /* Increase the scale factor for the grow effect */
}
footer {
    text-align: center;
    background-color: var(--highlight-color);
    color: var(--text-color);
    display: flex; /* Add display flex */
    justify-content: flex-start; /* Align items to the left */
    align-items: center; /* Vertically center items */
    border-radius: 20px; /* Add rounded corners */
}


.footer-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}
/* Custom CSS for Swiper carousel */
.video-carousel {
    position: relative;
    width: 100%;
    height: auto ; /* Change height to 0 to allow for dynamic aspect ratio */
  /* 16:9 aspect ratio (9 / 16 * 100) */
    overflow: hidden;
    border-radius: 20px;
}


.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Ensure the last slide doesn't have right margin */
.swiper-slide:last-child {
    margin-right: 0;
}


/* Style the arrow buttons and their inner elements */
.swiper-button-prev, .swiper-button-next {
    background-color: transparent; /* Set background color to transparent */
    font-size: 0; /* Hide text content, if any */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

/* Set the color of the arrow icons */
.swiper-button-prev::after,
.swiper-button-next::after {
    content: ''; /* Clear any content */
    font-family: 'swiper-icons'; /* Adjust this to match your icon font */
    font-size: 60px; /* Adjust the size as needed */
    color: white; /* Set the arrow color to white */
}

/* Hover styles */
.swiper-button-prev:hover, .swiper-button-next:hover {
    background-color: rgba(0, 0, 0, 25%);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(10px); /* Optional: Add a slight upward motion */
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
/* Apply the slower fade-in animation to specific elements */
.fade-in {
    animation: fadeIn 2.5s ease-in-out forwards; /* Increased duration for a slower fade-in */
    opacity: 0; /* Start with opacity 0 */
    transition: opacity 0.3s ease-in-out; /* Add a smooth opacity transition */
}
iframe {
width: 100%;
height: 550px;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

}

.logo_header {
    width: 100%; /* Make the logo width 100% of the container */
    max-width: 2000px; /* Limit the maximum width if needed */
    margin-left: auto; /* Center the logo horizontally */
    margin-right: auto; /* Center the logo horizontally */
    display: block; /* Remove any residual display issues */
}










@media (max-width: 768px) {
    /* Add mobile-specific styles here */
    body {
        font-size: 16px;
    }
    .header {
        height: auto;
    
    }
    .logo_header{
        width: 400px;
    }
    .social-icon{
        width: auto;
        height: 20px;
    }
    .hero {
        padding: 20px;
    }

    .button-container {
        flex-direction: column; /* Stack buttons vertically on mobile */
        margin-top: 10px;
    }

    .hero-button {
        margin-right: 0;
        margin-bottom: 10px; /* Add margin between buttons */
        width: 100%; /* Make buttons full width on mobile */
    }

    main {
        padding: 20px;
    }
    .video-carousel {
        position: relative;;
        height: 40%;
        width: 100%;
        padding-bottom: 0%;
       /* Adjust the aspect ratio for mobile */

    }

    /* Adjust the slides within the carousel for mobile */
    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0;
    }
    .footer {
       height: 10px; /* Adjust the padding for the footer on mobile */
        /* You can also adjust other properties like font size or line height if needed */
    }
    .footer-content {
        display: flex;
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items horizontally */
        text-align: center; 
    }
    .footer-img{
    position: fixed;
    display: none;
    }
    .fade-in {
        animation-duration: 2s; /* Slower fade-in effect on mobile */
        
    }
}

@keyframes moveUp {
    0% {
        transform: translateY(100px); /* Initial position, adjust as needed */
        opacity: 0; /* Start with opacity 0 */
    }
    100% {
        transform: translateY(0); /* Move to the original position */
        opacity: 1; /* Fully visible */
    }
}

.move-up {
    animation: moveUp 3s ease-in-out forwards; /* Animation duration and easing */
}
